.DS_Store
.Rhistory
.Rproj.user

*.jpeg
data/collated_data/
data/lookup_tables/
data/outbreak_data/
data/prediction_rasters/
data/predictor_flat_files
data/rasters/
documents/
outputs/
saved_objects/
scripts/archive/
scripts/staging/
