.DS_Store
.Rhistory
.Rproj.user

*.jpeg
data/prediction_deltas/
data/prediction_rasters/
data/predictor_flat_files
data/rasters/
data/serology_data/
documents/
outputs/
saved_objects/
scripts/archive/
scripts/staging/
